* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

form {
  width: 270px;
}
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button {
  margin-left: 45%;
  margin-top: 20px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

tr,
td {
  border: 1px solid black;
}
